<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz Faktury</title>
</head>
<body>
    <h1>Formularz Faktury VAT</h1>

<form action="http://localhost:8080/invoice" method="POST">


        <h2>Dane nabywcy</h2>

        <label for="buyerName">Nazwa firmy:</label><br>
        <input type="text" id="buyerName" name="buyerName" required><br><br>

          <label for="buyerAddressEmail">Nazwa firmy:</label><br>
        <input type="text" id="buyerAddressEmail" name="buyerAddressEmail" required><br><br>

        <label for="buyerAddress">Adres:</label><br>
        <input type="text" id="buyerAddress" name="buyerAddress" required><br><br>

        <label for="buyerNip">NIP:</label><br>
        <input type="text" id="buyerNip" name="buyerNip" ><br><br>

        <h2>Pozycja na fakturze</h2>
        <label for="description">Opis towaru/usługi:</label><br>
        <input type="text" id="description" name="description" required><br><br>

        <label for="name">Opis towaru/usługi:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="quantity">Ilość:</label><br>
        <input type="number" id="quantity" name="quantity" required><br><br>

        <label for="unitPrice">Cena netto:</label><br>
        <input type="number" id="unitPrice" name="unitPrice" required><br><br>

        <button type="submit">Generuj PDF</button>
    </form>
</body>
</html>
